theme = "catppuccin_mocha"

[editor]
line-number = "relative"
cursorline = true
auto-save = { focus-lost = true, after-delay.enable = true }
bufferline = "multiple"
color-modes = true
true-color = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true

[editor.lsp]
display-messages = true
display-inlay-hints = true

[editor.statusline]
left = ["mode", "spinner", "file-name", "file-modification-indicator"]
right = ["diagnostics", "selections", "register", "position", "file-encoding", "file-line-ending", "file-type"]

[keys.normal]
C-s = ":write"
C-q = ":quit"
